html {
  font-family: "Open Sans", sans-serif;
}

.article-feed-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 265px;
  padding-bottom: 2em;
  border-bottom: 2px solid $primary-low;
  margin: 3em 0 2em 0;

  .article-feed-heading-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .article-feed-heading {
      border-bottom: 5px solid $tertiary;
      padding: 0 1.35em;
      font-size: $font-up-2;
      display: inline-block;
    }
  }

  .feed-nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: $font-up-4;
  }

  .article-wrapper {
  }

  .article-link {
    color: $primary;
    font-weight: bold;
    line-height: $line-height-large;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    h2 {
      margin-bottom: 0;
    }
  }

  .article-thumbnail {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0.25em;
  }

  .article-title {
    min-height: 2.75em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
